@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle {
  font-family: 'Courgette', cursive;
}

/* home style */
.profilphoto {
  width: 450px;
  height: 450px;
}

/* home animation */
.animation {
  width: 18ch;
  animation: typing 5s steps(19) infinite reverse;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }

}

/* Project Style */
.snakegame {
  background-image: url(./assets/images/snakegame.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rollingballs {
  background-image: url(./assets/images/rollingballs.png);
}

.miniagenda {
  background-image: url(./assets/images/miniagenda.png);
}

.calculator {
  background-image: url(./assets/images/calculator.png);
}

.movie {
  background-image: url(./assets/images/movie.png);
}

.real-estate {
  background-image: url(./assets/images/realestate.png);
}

.projectcard {
  background-position: top;
  background-size: cover;
  min-height: 200px;
  box-shadow: 2px 2px 3px #8f8e8e;
}

.projectcard:hover {
  width: 103%;
  margin: auto;
}

/* Skills style */
.ul-display {
  display: none;
}

.div-hover:hover .ul-display {
  display: block;
}