@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle {
  font-family: 'Courgette', cursive;
}

/* home style */
.profilphoto {
  width: 450px;
  height: 450px;
}

/* Project Style */
.snakegame {
  background-image: url(./assets/images/snakegame.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rollingballs {
  background-image: url(./assets/images/rollingballs.png);
}

.miniagenda {
  background-image: url(./assets/images/miniagenda.png);
}

.calculator {
  background-image: url(./assets/images/calculator.png);
}

.projectcard {
  background-position: top;
  background-size: cover;
  min-height: 200px;
  box-shadow: 2px 2px 3px #8f8e8e;
}

.projectcard:hover {
  width: 103%;
  margin: auto;
}

@media (max-width: 850px) {
  .profilphoto {
    width: 280px;
    height: 420px;
  }

  .contact-info {
    display: none;
  }
}

@media (max-width: 767px) {
  .profile-image {
    display: none;
  }
}

@media (max-width: 687px) {
  .contact-info-2 {
    display: none;
    border: none;
  }
}

/* Skills style */
.ul-display {
  display: none;
}

.div-hover:hover .ul-display {
  display: block;
}